doctype html
html
   head
      link(rel="stylesheet", href="../styles/login.css")
      link(rel="stylesheet", href="../styles/normalize.css")
      title="Login"
body
   section.loginEmail
      h1.titleSectionEmail Admin login   
      form.formLogin(action='/admin/login', method='POST')
         input.email(type="email", name='userEmail' /*pattern=".+@globex\.com"*/, size="30", required, placeholder='Email')
         input.password(type="password", name = 'userPassword' /*pattern=".{6,}"*/, placeholder="Contraseña", required)
         input.btnRegister(type='submit', value='Login')