doctype html
html
    head
        link(rel='stylesheet', href='./css/header.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E")
        
    body
        nav.topnav
        a.active(href='/') Home
        div#myLinks
            a(href='signup') Registrarse
            a(href='login') Login
            a(href='favorites') Mis favoritos
            a(href='profile') Mi Perfil 
            a(href='users') Usuarios 
            a(href='dashboard') Dashboard 

        a.icon(href='javascript:void(0);', onclick='myFunction()')
            i.fa.fa-bars