doctype html
html
    head
        link(rel='stylesheet', href='./styles/header.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E")
        
    body
        nav.topnav
        a.active(href='/') Home
        div#myLinks
            a(href='/user/signup') Registrarse
            a(href='/user/login') Login
            a(href='/user/favorites') Mis favoritos
            a(href='/user/profile') Mi Perfil 
            a(href='/admin/users') Usuarios 
            a(href='/admin/dashboard') Dashboard 

        a.icon(href='javascript:void(0);', onclick='myFunction()')
            i.fa.fa-bars