doctype html
html
  head
    title= title
    link(rel="stylesheet",href="../styles/normalize.css")
    link(rel='stylesheet', href="/styles/header.css")
    link(rel='stylesheet', href='../styles/styles.css')
    link(rel='shortcut icon', href='../assets/logopnk.png')
    script(src="https://kit.fontawesome.com/5a088c105a.js" crossorigin="anonymous")
    script( defer src="../scripts/navBar.js")
    script( defer src="../scripts/scriptFavorites.js")
    script( defer src="../scripts/scriptDeleteFavorites.js")
  body   
    header.header
      nav.navbar
        a.nav-logo(href='#') TSR
        ul.nav-menu
          li.nav-item
            a.nav-link(href="/") Home
          if locals.user
            li.nav-item
              a.nav-link(href="/user") Perfil
            li.nav-item
              a.nav-link(href="/user/favorites") Favoritos
            li.nav-item
              a.nav-link(href="/logout") Desconectar
          else
            li.nav-item
              a.nav-link(href="/login") Iniciar sesión
            li.nav-item
              a.nav-link(href="/admin/login") Soy admin
        .hamburger
          span.bar
          span.bar
          span.bar
  block content

        
