doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../styles/styles.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='shortcut icon', href='//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png')
    script( defer src="./scripts/scriptFavorites.js")
    script( defer src="./scripts/scriptDeleteFavorites.js")  


  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey TSR Jobs App
      a(href="/").w3-bar-item.w3-button Inicio
      if locals.user
        a(href="/user" id="profileDropDown").w3-bar-item.w3-button Perfil
        a(href="/user/favorites" id="favoritesDropDown").w3-bar-item.w3-button Favoritos
        a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Desconectar
      else
        a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Iniciar sesión
        a(id="adminLoginBtn" href="/admin/login").w3-bar-item.w3-button Soy admin
    block content
