doctype html
html
   head
      link(rel="stylesheet", href="./styles/styles.css")
      link(rel="stylesheet", href="./styles/normalize.css")

      title="Mi perfil"
   body
    fieldset
        h1 #{name}
        h2 Mi perfil