extends layout

block content
  .w3-card-4
    h1 Bienvenido #{user.nickname}
    img(src=user.picture, alt = 'imagen')
    p #{user.displayName}
    p #{user.user_metadata}
    
 

    h2 A침ade informaci칩n a tu perfil 
      form(action='/user', method='POST')
          input(type='text', name='name', placeholder='Nombre') 
          input(type='text', name='lastName', placeholder='Apellidos')
          input(type='text', name='favoriteLanguage', placeholder='Lenguaje de programaci칩n preferido')
          input(type='submit', value='Guardar informaci칩n')
  include ./footer.pug
     