extends layout

block content
  .w3-card-4
    h1 Welcome #{user.nickname}
    img(src=user.picture, alt=user.nickname)
    p #{user.displayName} 
    //- h2 Editar perfil 
    //-   form(action='/user', method='POST')
    //-       input(type='text', name='idUpdate') 
    //-       input(type='text', name='nicknameUpdate', placeholder='Nuevo nickname')
    //-       input(type='text', name='passwordUpdate', placeholder='Editar contraseña')
    //-       input(type='submit', value='Editar perfil')