/*-------------------- GOOGLE FONTS --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

/*-------------------- VARIABLES --------------------*/
:root {
    --purple-color: #7165e3;
    --pink-color: #ffffff;
    --white-color: #f8f8f8;
    --dark-color: #323031;
    --card-border-radius: 30px;
    --card-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --btn-border-radius: 5px;
}

/*-------------------- GENERAL STYLES --------------------*/
body {
    background-color: var(--white-color);
    font-family: 'Outfit', sans-serif;
}

li {
    list-style: none;
}

.input {
    display: block;
}

/*-------------------- NAV SECTION --------------------*/
/*-- Mobile --*/
.header {
    background-color: var(--purple-color);
}

.menu__container {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

/*-- Desktop --*/
@media only screen and (min-width: 992px) {
    .menu__container {
        display: block;
    }

    .list__container {
        display: flex;
        gap: 250px;
    }
}
/*-------------------- MAIN SECTION --------------------*/
/*-- Mobile --*/
.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem 0;
    margin-top: 5rem;
}

.section__title {
    font-size: 4rem;
}

.div__container {
    background-color: white;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 25px 4rem;
    margin-bottom: 5rem;
}

/*-- Desktop --*/
@media only screen and (min-width: 992px) {
    .section__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }

    .section__title {
        font-size: 2rem;
    }
}
