/*-------------------- VARIABLES --------------------*/
:root {
    --purple-color: #7165e3;
    --pink-color: #f61067;
    --white-color: #f8f8f8;
    --dark-color: #323031;
    --card-border-radius: 30px;
    --card-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --btn-border-radius: 5px;
}

/*-------------------- GENERAL STYLES --------------------*/
body {
    scroll-behavior: smooth;
    background-color: var(--white-color);
    font-family: 'Outfit', sans-serif;
}

input {
    display: block;
    border-style: none;
    background-color: #f1f1f1;
    border-radius: var(--btn-border-radius);
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 200;
    font-size: 2rem;
    height: 80px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
p {
    color: var(--dark-color);
}

span {
    color: var(--purple-color);
    font-weight: bold;
}

/*-------------------- MAIN SECTION --------------------*/
/*-- Mobile --*/
.main__container {
    display: flex;
    padding: 0 25px 0;
    margin-top: 25px;
}

.main__title {
    text-align: center;
    font-size: 4rem;
}

.section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.section__title--padding {
    border-top: 2px solid #d3d3d3;
    margin-top: 25px;
    padding-top: 15px;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    background-color: white;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 50px 0;
    margin-bottom: 5rem;
    width: 80%;
}

.btnRegister {
    padding: 15px;
    width: 21.3rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: var(--pink-color);
    color: white;
    border-radius: var(--btn-border-radius);
    margin-top: 35px;
    cursor: pointer;
}

.section__container2 {
    display: flex;
    justify-content: center;
}

.ad__container {
    display: flex;
    border-top: 2px solid #d3d3d3;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 150px;
}

.img__container {
    width: 30%;
    margin: 90px 0 30px;
}

.ad__image {
    text-align: center;
    border: 1px solid black;
    width: 50px;
    border-radius: 100%;
}

.ad__title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.ad__id {
    font-size: 2rem;
    margin-bottom: 15px;
}

.ad__company {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.ad__text {
    font-size: 2rem;
    text-align: justify;
    font-weight: 200;
}

/*-- Desktop --*/
@media only screen and (min-width: 992px) {
    input {
        font-size: 1.25rem;
        height: 50px;
        width: 100%;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main__title {
        font-size: 2.8rem;
    }

    .section__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        justify-items: center;
        gap: 5rem;
        margin: 0 5rem;
    }

    .section__title {
        font-size: 2rem;
    }

    .card__container {
        padding: 25px 80px;
    }

    .btnRegister {
        font-size: 1.25rem;
        transition: all 0.1s;
    }

    .btnRegister:hover {
        background-color: var(--purple-color);
    }

    .img__container {
        width: 15%;
        margin: 90px 0 30px;
    }

    .ad__title {
        font-size: 1.85rem;
    }

    .ad__company {
        font-size: 1.25rem;
    }

    .ad__text {
        font-size: 1.25rem;
    }
}

/*-------------------- BACK TO TOP BUTTON --------------------*/
.scrollToTopBtn {
    background-color: var(--purple-color);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 48px;
    width: 48px;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 992px) {
    .scrollToTopBtn {
        width: 120px;
        height: 120px;
    }
}
