body{
    background-color: var(--white-color);
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
}

p#infoSesion{
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-left: 40px;
}

#logo{
    max-width: 150px;
}

/* Contenedor principal */
#container {
    margin: auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Parrafos incio */
.tsrLabel{
    font-size: 3rem;
    margin: 2% 8% 2% 8%;
}

.tsrLabel:first-of-type{
    margin-top: 100px;
}

/* BUSCADOR  */
.titleSearch{
    color: var(--dark-color);
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Lupita  */
#imgSearch{
    max-height: 40px; 
    width: 40px;
    margin: 10px;
    padding: 4px;
}

input {
    width: 100%;
    height: 4rem;
}

/* CONTENEDOR PRINCIPAL DE ANUNCIOS PARA FLEX */
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ANUNCIOS CARDS */
div.allContent{
    margin: 5rem 10rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 25px 4rem;
    min-height: 450px;
    flex: 25%;
    max-width: 80%;
}

ul{
    padding:40px;
}

li{
    list-style: none;
}

li.title{
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
}

.imagen{
    width: auto;
    max-height: 100px;
    margin: 0% 8% 0% 8%;
    border-radius: 100px;
    margin: 0 40%;    
}

li.company{
    text-align: center;
}

li.location{
    text-align: right;
    margin-right: 8px;
}

li.description{
    text-align: justify;
    margin-right: 8px;
    overflow: hidden;
    max-height: 210px;  
}

a.link{
    color: var(--pink-color);
}

#imgSave{
    max-height: 40px; 
    width: 40px;
    margin-left: 90%;    
}
  

/* DESKTOP */
@media only screen and (min-width: 992px){
    .mainContainer {
        display: flex;
    }

    .allContent{
        align-content: space-around;
    }

    .tsrLabel{
        margin-left: 8%;
        font-size: 3rem;
    }

    .tsrLabel:first-of-type{
        margin-top: 9%;
        margin-right: 43%;
    }
    
  }
  
